.well
  %h4
    = link_to (@post.title) ? @post.title : "No Title", @post
  %div
    - if @post.body
      = @markdown_parser.markdown_to_html(@post.body).html_safe
    %hr.gradient-black
  .actions
    - if can? :edit, @post
      = link_to edit_post_path(@post), :class => "" do
        %i.icon-cog
    - if can? :delete, @post
      = link_to post_path(@post), :confirm => 'Are you sure?', :method => :delete, :class => "" do
        %i.icon-trash.icon