.well
  %h4
    = link_to @post.title, @post
  %div
    = @markdown_parser.markdown_to_html(@post.body).html_safe
    %hr
  - if can? :edit, @post
    = link_to edit_post_path(@post), :class => "btn btn-mini margin-right" do
      %i.icon-cog
      Edit
  - if can? :delete, @post
    = link_to post_path(@post), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger btn-mini" do
      %i.icon-trash.icon-white
      Delete