.page-header
  %h2
    = @blog.title
- if @blog.nil?
  .well
    -if !@current_author.nil?
      Create your first blog
    - else
      current_user is not defined. You have to be logged in with Devise in order to configure your first blog.
- else
  - if @posts.empty?
    .well
      = link_to "Create Your First Post", new_post_path, :class => "btn"
  - else
    - @posts.each do |post| @post = post
      - unless @post.nil?
        = render "post"
