.well
  - if @blog.nil?
    -if !@current_author.nil?
      Create your first blog
    - else
      current_user is not defined. Configure Devise.
  - else
    - if @posts.nil?
      No posts here
    - else
      =@posts