.well
  - if @blog.nil?
    - current_user = "user"
    -if defined? current_user
      Create your first blog
    - else
      current_user is not defined. Configure Devise.
  - else
    - if @posts.nil?
      No posts here
    - else
      =@posts