$content-width: 600px;
$font-family-general: "Georgia", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-title: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;

.slate {
  background-color: grey;
  [class^="icon-"], [class*=" icon-"] {
    background-image: url("icons/glyphicons-halflings.png");
  }

  input[type="file"] {
    margin-bottom: 10px;
  }

  .icon-white,
  .nav-tabs > .active > a > [class^="icon-"],
  .nav-tabs > .active > a > [class*=" icon-"],
  .nav-pills > .active > a > [class^="icon-"],
  .nav-pills > .active > a > [class*=" icon-"],
  .nav-list > .active > a > [class^="icon-"],
  .nav-list > .active > a > [class*=" icon-"],
  .navbar-inverse .nav > .active > a > [class^="icon-"],
  .navbar-inverse .nav > .active > a > [class*=" icon-"],
  .dropdown-menu > li > a:hover > [class^="icon-"],
  .dropdown-menu > li > a:hover > [class*=" icon-"],
  .dropdown-menu > .active > a > [class^="icon-"],
  .dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: url("icons/glyphicons-halflings-white.png");
  }

  .footer {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 0 1px 4px black;
  }

  .navbar {
    margin-bottom: 30px;
  }

  .container {
    max-width: $content-width;
  }

  .well.post {
    p {
      margin: 0 0 28px;
    }
    p:last-child {
      margin-bottom: 10px;
    }
  }

  .well {
    margin: 0 auto 20px;
    background: white;
    padding: 25px;
    font-family: $font-family-general;
    font-size: 18px;
    line-height: 28px;
    color: #4A4A4A;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);

    .images {
      img {
        width: 100px;
        height: 100px;
      }
      div.image-thumb {
        display: inline-block;
        width: 100px;

        p {
          a.add-photo {
            font-size: 0.8em;
          }
        }
      }
    }
    .actions {
      i.icon {
        margin-right: 10px;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }

  #header {
    border: 0 none;
    position: relative;
    text-align: center;

    h2, h2 a.title {
      display: block;
      font-size: 40px;
      -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=424040);
      position: relative;
      color: white;
      font-family: $font-family-title;
      font-weight: 600;
    }
    h2 a.title {
      margin: 5px 0 30px;
    }
    h2 a.logo {
      div {
        width: 100px;
        height: 100px;
        border: 3px solid white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
        display: inline-block;
      }
    }

    #top-controls {
      position: absolute;
      right: 0;
      top: 0;

      img {
        margin-left: 5px;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  h3.head {
    display: block;
    text-align: center;
    font-family: $font-family-title;
    font-size: 24px;
    -webkit-text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
    -moz-text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
    -o-text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=424040);
    position: relative;
    color: white;
  }

  textarea {
    width: $content-width - 66;
    font-family: $font-family-general;
    font-size: 16px;
    line-height: 22px;
    @media (max-width: 767px) { width: $content-width / 2; }
    @media (max-width: 480px) { width: 200px; }
  }

  textarea#post_body {
    height: 400px;
  }

  .custom-upload {
    position: relative;
    height: 40px;
    width: 350px;
    display: inline-block;
    margin-right: 18px;

    input[type=file] {
      outline:none;
      position: relative;
      text-align: right;
      -moz-opacity:0 ;
      opacity: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
    .fake-file {
      background:url("icons/upload.png") center right no-repeat;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 350px;
      padding: 0;
      margin: 0;
      z-index: 1;
      line-height: 100%;

      input {
        background-color: white;
        border: 1px solid #C7C7C7;
        box-shadow: 0 0 2px rgba(1, 1, 1, 0.2) inset;
        font-size: 16px;
        height: 30px;
        padding: 5px;
        width: 290px;
        cursor: default;
      }
    }
  }

  #new_image input[type=submit] {
    display: none;
  }

  .pagination {
    text-align: center;

    ul {
      background-color: white;
    }
  }

  #comments {
    .well {
      padding: 17px;
      h5 {
        margin: 0;
      }
      .actions {
        margin-top: 10px;
      }
    }
  }

  hr.gradient-white {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
  }

  hr.gradient-black {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.65), rgba(0,0,0,0));
  }

  // Flaired edges, by Tomas Theunissen
  hr.fancy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
  }
  hr.fancy:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }

  .centered {
    text-align: center;
  }
}