$content-width: 600px;
$font-family-general: "Georgia", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-family-title: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.slate {
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: url("glyphicons-halflings.png");
  }

  .icon-white,
  .nav-tabs > .active > a > [class^="icon-"],
  .nav-tabs > .active > a > [class*=" icon-"],
  .nav-pills > .active > a > [class^="icon-"],
  .nav-pills > .active > a > [class*=" icon-"],
  .nav-list > .active > a > [class^="icon-"],
  .nav-list > .active > a > [class*=" icon-"],
  .navbar-inverse .nav > .active > a > [class^="icon-"],
  .navbar-inverse .nav > .active > a > [class*=" icon-"],
  .dropdown-menu > li > a:hover > [class^="icon-"],
  .dropdown-menu > li > a:hover > [class*=" icon-"],
  .dropdown-menu > .active > a > [class^="icon-"],
  .dropdown-menu > .active > a > [class*=" icon-"] {
    background-image: url("glyphicons-halflings-white.png");
  }

  .navbar {
    margin-bottom: 30px;
  }

  .container {
    max-width: $content-width;
  }

  .well {
    margin: 0 auto 20px;
    background: white;
    padding: 25px;
    font-family: $font-family-general;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);

    .images {
      height: 120px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .page-header {
    border: 0 none;

    h2, h2 a {
      display: block;
      text-align: center;
      font-family: $font-family-title;
      font-size: 35px;
      -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
      filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=424040);
      position: relative;
      color: white;
    }
  }

  h3.date {
    display: block;
    text-align: center;
    font-family: $font-family-title;
    font-size: 24px;
    -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=424040);
    position: relative;
    color: white;
  }

  textarea {
    width: $content-width - 66;
    font-family: $font-family-general;
    font-size: 16px;
    line-height: 22px;
  }

  textarea#post_excerpt {
    height: 50px;
  }

  textarea#post_body {
    height: 400px;
  }
}