%ul.nav.nav-tabs
  %li{ :class => (action_name == "edit") ? "active" : ""}
    = link_to "Settings", edit_blog_path(@blog)
  %li{ :class => (action_name == "spam") ? "active" : ""}
    = link_to "Spam", spam_blog_path(@blog)